* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}

body {
  background-color: #121212;
  height: 100%;
  width: 100%;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card p {
  margin: 15px 0;
}

.card button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff6f61;
  color: #fff;
  cursor: pointer;
}